<!-- -*- mode: XML -*- -->
<launch>
  <!-- Launch arguments -->
  <arg name="car_name"        default="car"/>
  <arg name="racecar_version" default="racecar-uw-nano"/>

  <!-- Config -->
  <rosparam file="$(find mushr_hardware)/config/$(arg racecar_version)/sensors.yaml" command="load"/>

  <!-- Camera -->
  <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
      args="10 realsense2_camera rs_camera.launch camera:=/$(arg car_name)/camera tf_prefix:=/$(arg car_name)/camera"
      name="rs_camera_timed_roslaunch" output="screen"/>

  <!-- Laser -->
  <include file="$(find ydlidar)/launch/lidar.launch">
    <arg name="car_name" value="$(arg car_name)"/>
  </include>

  <!-- Push Button -->
  <include file="$(find push_button_utils)/launch/push_button.launch"/>
</launch>
